
body{
    margin-top:20px;
    color: black;
    text-align: left;   
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}
.fa{
    color: black;
    text-decoration: none;
    border: solid;
    border-radius: 50%;
    border: gray;
}
.header{
    text-align: center;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;

}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    background-color: #96bdcf;
}
.card-media{
background-color: #96bdcf;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
.button{
  background-color: #375664; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.slider-holder, h5{
padding-top: 20px;
}

   @media (max-width: 700px) {
     .about-img{
       margin-left: 20px;
       right: 0px;
       top: 30px;
      }
   }